{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Shopping List</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

<h5>Name:</h5>
<p>{{name}}</p>

<h5>Class:</h5>
<p>{{class}}</p>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Date Added</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody class="table-group-divider">
        {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.description}}</td>
            <td>{{product.date_added}}</td>
            <td>
                <a href="{% url 'main:edit_product' product.pk %}">
                    <button type="button" class="btn btn-warning">
                        Edit
                    </button>
                </a>
                <a href="{% url 'main:delete_product' product.pk %}">
                    <button type="button" class="btn btn-danger">
                        Delete
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

    
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button type="button" class="btn btn-primary">
        Add New Product
    </button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="{% url 'main:logout' %}">
    <button type="button" class="btn btn-danger">
        Logout
    </button>
</a>


{% endblock content %}